body {
	font-family: Century gothic;
}

a.broken {
	color: #ba0000;
}

a.broken:visited {
	color: #a55858;
}

li {
    margin-top: 10px;
}

table.pollingtable {font-size:95%; line-height:14px; text-align:center; border-bottom: 2px solid #F0F0F0;}
/* f for full color, s for semi (midpoint blend between the color and white), b for background (lightest of 10 midpoints between the color and white) */
caption {background-color:#F0F0F0}
td.cLRf {background-color:#0066CC; color:#fff; font-weight:bold}
td.cLRs {background-color:#80B3E6; font-weight:bold}
td.cLRb {background-color:#E8F1FA}
td.cLREMf {background-color:#FFEB00; font-weight:bold}
td.cLREMs {background-color:#FFF580; font-weight:bold}
td.cLREMb {background-color:#FFFDE8}
td.cMDMf {background-color:#FF9900; font-weight:bold}
td.cMDMs {background-color:#FFCC80; font-weight:bold}
td.cMDMb {background-color:#FFF6E8}
td.cPSf {background-color:#FF8080; font-weight:bold}
td.cPSs {background-color:#FFC0C0; font-weight:bold}
td.cPSb {background-color:#FFF3F3}
td.cDVDf {background-color:#ADC1FD; font-weight:bold}
td.cDVDs {background-color:#D6E0FE; font-weight:bold}
td.cDVDb {background-color:#F8F9FF}
td.cPCFf {background-color:#DD0000; color:#fff; font-weight:bold}
td.cPCFs {background-color:#EE8080; font-weight:bold}
td.cPCFb {background-color:#FCE8E8}
td.cRNf {background-color:#0D378A; color:#fff; font-weight:bold}
td.cRNs {background-color:#869BC5; font-weight:bold}
td.cRNb {background-color:#E9EDF4}
td.cLOf {background-color:#BB0000; color:#fff; font-weight:bold}
td.cLOs {background-color:#DD8080; font-weight:bold}
td.cLOb {background-color:#F9E8E8}
td.cDLFf {background-color:#0082C4; font-weight:bold}
td.cDLFs {background-color:#80C1E2; font-weight:bold}
td.cDLFb {background-color:#E8F4FA}
td.cLFIf {background-color:#CC2443; color:#fff; font-weight:bold}
td.cLFIs {background-color:#E692A1; font-weight:bold}
td.cLFIb {background-color:#FAEBEE}
td.cEELVf {background-color:#00C000; font-weight:bold}
td.cEELVs {background-color:#80E080; font-weight:bold}
td.cEELVb {background-color:#E8F9E8}
td.cDVCf {background-color:#FAC577; font-weight:bold}
td.cDVCs {background-color:#FDE2BB; font-weight:bold}
td.cDVCb {background-color:#FFFAF3}
td.cUPRf {background-color:#118088; font-weight:bold}
td.cUPRs {background-color:#88C0C4; font-weight:bold}
td.cUPRb {background-color:#E9F3F4}